In [1]:
import pandas as pd
import numpy as np

In [2]:
v_train=pd.read_csv(r'C:\Users\satis\OneDrive\Desktop\Edvancer\Python\Project_2\carvan_train.csv')
v_test=pd.read_csv(r'C:\Users\satis\OneDrive\Desktop\Edvancer\Python\Project_2\carvan_test.csv')

In [3]:
v_train

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V77,V78,V79,V80,V81,V82,V83,V84,V85,V86
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5817,36,1,1,2,8,0,6,1,2,1,...,0,0,0,1,0,0,0,0,0,0
5818,35,1,4,4,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
5819,33,1,3,4,8,0,6,0,3,5,...,0,0,0,1,0,0,0,0,0,1
5820,34,1,3,2,8,0,7,0,2,7,...,0,0,0,0,0,0,0,0,0,0
5821,33,1,3,3,8,0,6,1,2,7,...,0,0,0,0,0,0,0,0,0,0

In [4]:
v_test

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V76,V77,V78,V79,V80,V81,V82,V83,V84,V85
0,33,1,4,2,8,0,6,0,3,5,...,0,0,0,0,1,0,0,0,0,0
1,6,1,3,2,2,0,5,0,4,5,...,2,0,0,0,1,0,0,0,0,0
2,39,1,3,3,9,1,4,2,3,5,...,1,0,0,0,1,0,0,0,0,0
3,9,1,2,3,3,2,3,2,4,5,...,0,0,0,0,1,0,0,0,0,0
4,31,1,2,4,7,0,2,0,7,9,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,33,1,2,4,8,0,7,2,0,5,...,0,0,0,0,1,0,0,0,0,0
3996,24,1,2,3,5,1,5,1,3,4,...,1,0,0,0,1,0,0,0,0,0
3997,36,1,2,3,8,1,5,1,3,7,...,0,0,0,0,1,0,0,0,1,0
3998,33,1,3,3,8,1,4,2,3,7,...,0,0,0,0,0,0,0,0,0,0
3999,8,1,2,3,2,4,3,0,3,5,...,0,0,0,0,1,0,0,0,0,0

In [5]:
v_train['V86'].value_counts()

0    5474
1     348
Name: V86, dtype: int64

In [9]:
v_train.isnull().sum().sum()

0

In [10]:
v_test.isnull().sum().sum()

0

In [14]:
v_train['V3'].value_counts()

3    2646
2    2131
4     693
1     284
5      68
Name: V3, dtype: int64

In [25]:
v_train['V4'].value_counts()

3    3000
2    1452
4    1073
5     193
1      74
6      30
Name: V4, dtype: int64

In [27]:
target_var='V86'

In [29]:
v_train[target_var].value_counts()

0    5474
1     348
Name: V86, dtype: int64

In [31]:
x_train=v_train.drop(target,1)
y_train=v_train[target]

In [32]:
x_train

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V76,V77,V78,V79,V80,V81,V82,V83,V84,V85
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,0,1,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,0,1,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,0,1,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,0,1,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5817,36,1,1,2,8,0,6,1,2,1,...,2,0,0,0,1,0,0,0,0,0
5818,35,1,4,4,8,1,4,1,4,6,...,0,0,0,0,1,0,0,0,0,0
5819,33,1,3,4,8,0,6,0,3,5,...,0,0,0,0,1,0,0,0,0,0
5820,34,1,3,2,8,0,7,0,2,7,...,0,0,0,0,0,0,0,0,0,0
5821,33,1,3,3,8,0,6,1,2,7,...,0,0,0,0,0,0,0,0,0,0

In [33]:
y_train

0       0
1       0
2       0
3       0
4       0
       ..
5817    0
5818    0
5819    1
5820    0
5821    0
Name: V86, Length: 5822, dtype: int64

In [34]:
gbm_params={'n_estimators':[50,100,200,500,700],
           'learning_rate': [0.01,.05,0.1,0.4,0.8,1],
            'max_depth':[1,2,3,4,5,6],
            'subsample':[0.5,0.8,1],
            'max_features':[5,10,15,20,30,45]
           }

In [36]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import GradientBoostingClassifier
from xgboost.sklearn import XGBClassifier

In [37]:
gbm=GradientBoostingClassifier()

In [39]:
from sklearn.model_selection import GridSearchCV

In [38]:
random_search=RandomizedSearchCV(gbm,scoring='roc_auc',param_distributions=gbm_params,
                                 cv=5,n_iter=10,
                                 n_jobs=-1)

In [40]:
random_search.fit(x_train,y_train)

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
                   estimator=GradientBoostingClassifier(criterion='friedman_mse',
                                                        init=None,
                                                        learning_rate=0.1,
                                                        loss='deviance',
                                                        max_depth=3,
                                                        max_features=None,
                                                        max_leaf_nodes=None,
                                                        min_impurity_decrease=0.0,
                                                        min_impurity_split=None,
                                                        min_samples_leaf=1,
                                                        min_samples_split=2,
                                                        min_weight_fraction_leaf=0.0,
                                                        n_estimators=100,
                                                        n_i...
                                                        validation_fraction=0.1,
                                                        verbose=0,
                                                        warm_start=False),
                   iid='warn', n_iter=10, n_jobs=-1,
                   param_distributions={'learning_rate': [0.01, 0.05, 0.1, 0.4,
                                                          0.8, 1],
                                        'max_depth': [1, 2, 3, 4, 5, 6],
                                        'max_features': [5, 10, 15, 20, 30, 45],
                                        'n_estimators': [50, 100, 200, 500,
                                                         700],
                                        'subsample': [0.5, 0.8, 1]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring='roc_auc', verbose=0)

In [42]:
random_search.best_estimator_

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.01, loss='deviance', max_depth=3,
                           max_features=30, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=500,
                           n_iter_no_change=None, presort='auto',
                           random_state=None, subsample=0.5, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [43]:
train_score=random_search.best_estimator_.predict_proba(x_train)[:,1]

In [44]:
real=y_train

In [45]:
cutoffs=np.linspace(0.001,0.999,999)

In [46]:
from sklearn.metrics import fbeta_score

In [47]:
fbetas=[]

In [48]:
for cutoff in cutoffs:
    
    predicted=(train_score>cutoff).astype(int)
    
    fbetas.append(fbeta_score(y_train,predicted,2))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

In [49]:
my_cutoff=cutoffs[fbetas==max(fbetas)]

In [52]:
predictions=(random_search.predict_proba(v_test)[:,1]>my_cutoff).astype(int)

In [53]:
predictions

array([0, 1, 0, ..., 0, 0, 0])

In [54]:
pd.Series(predictions)

0       0
1       1
2       0
3       0
4       0
       ..
3995    0
3996    0
3997    0
3998    0
3999    0
Length: 4000, dtype: int32

In [55]:
pd.Series(predictions).value_counts()

0    3577
1     423
dtype: int64

In [56]:
submissions=pd.DataFrame({'V86':predictions})

In [59]:
submissions.head()

   V86
0    0
1    1
2    0
3    0
4    0

In [60]:
submissions.tail()

      V86
3995    0
3996    0
3997    0
3998    0
3999    0

In [61]:
submissions.to_csv('sample_submission.csv',index=False)